<h1>Deaf Aunty</h1>

<p>WRONG ANSWER!!!!</p>

<form action="/cool_url" method="get">
  <select name="foods">
    <option value="Milk">Fresh Milk</option>
    <option value="Cheese">Old Cheese</option>
    <option value="Bread">Hot Bread</option>
  </select>
  <input type="text" name="not_user_input">
  <input type="submit" value="Cool It!">
</form>

<form action="/cool_url" method="get">
<input type="text" name="post[title]">
<input type="text" name="post[price]">
<textarea name="post[description]"></textarea>
<!--   <input type="submit" value="Cool It!"> -->
</form>

<p>URL parameters:</p>
<%= params %>