<h1>Main Page</h1>

<p>By The Ongs</p>

<form action="/cool_url" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="Say It!">
</form>

<form action="/cool_url" method="post">
  <input type="text" name="user_input">
  <input type="submit" value="Say It!">
</form>

<p>URL parameters:</p>
<%= params %>
